@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Cormorant+Garamond:wght@300&display=swap');

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/home/background-home-desktop.jpg);
    width: 100vw;
    height: 100vh;
}

.destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
}

.crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
}

.technology {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
}

@media (max-width: 1024px) {
    .container {
    background-image: url(./assets/home/background-home-tablet.jpg);

    }

    .destination {
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
    
    .crew {
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
    
    .technology {
        background-image: url(./assets/technology/background-technology-tablet.jpg);
    }
}

@media (max-width: 768px) {
    .container {
        background-image: url(./assets/home/background-home-mobile.jpg);
        }
    .destination {
        background-image: url(./assets/destination/background-destination-mobile.jpg);
    }
    
    .crew {
        background-image: url(./assets/crew/background-crew-mobile.jpg);
    }
    
    .technology {
        background-image: url(./assets/technology/background-technology-mobile.jpg);
    }
}



body {
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

h1 {
    font-size: 15rem;
    text-transform: uppercase;
}

h2 {
    font-size: 10rem;
    text-transform: uppercase;
}

h3 {
    font-size: 5.6rem;
    text-transform: uppercase;
}

h4 {
    font-size: 3.2rem;
    text-transform: uppercase;
}

h5 {
    font-size: 2.8rem;
    letter-spacing: 4.75px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}

.sub-heading-1 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

.sub-heading-2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2.35px;
}

p {
    font-size: 2.3rem;
}

.navigation {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2.35px;
}
